body {
	background-color: #FFF;
	color: #ED1C24;
    font-family: "Gill Sans", "Helvetica Neue", "Myriad Pro", Calibri;
}

.song {
    width: 50%;
    min-width: 300px;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 4px solid #880015;
}

h1, h2, p { text-align: center; }

.player {
    width: 100%;
    height: 88px;
    clear: both;
}

#buttoncontainer {
    width: 66px;
    height: 66px;
    float: left;
}

.track_container {
    width: calc(100% - 83px);
    margin-left: 15px;
    float: left;
}

.labels {
    margin: 0;
    min-height: 61px;
    max-height: 61px;    
    padding-top: 5px;
}

.label_artist, .label_title {
    text-align: left;
    font-size: 23px;
    margin: 0;
    height: 28px;
}

.label_title { color: #880015;  }

img[data-cmd] {
    background: #ED1C24;
    width: 22px;
    height: 22px;
    margin: 0;
    float: left;
}

img[data-cmd].main_button {
    width: 66px;
    height: 66px;
}

img[data-cmd]:hover {
    cursor: pointer;
    background: #000;
}

/* these are not used anymore */

/*
button {
	border: 1px solid #19440b;
	border-radius: 8px;
	height: 2em;
	-webkit-appearance: none;	
	color: #6c1616;
}

button:focus {
	outline: none;
}
*/

/*
hr {
	background-color: #6c1616;
	height: 5px;
	border: none;
}
*/

/* RANGE INPUT DESIGN */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  margin: 10px 0 9px 0;
  padding: 0 1px;
  background: #ED1C24;
}

/* thumb */

input[type=range]::-webkit-slider-thumb { /* Chrome */
  -webkit-appearance: none;  
  outline: none;

  height: 12px;
  width: 12px;
  margin-top: -4px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb { /* Firefox */
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  border: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb { /* IE */  
  border: 1px solid #000;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* track */

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ED1C24;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ED1C24;
}

/* some stuff for IE, just copypasted that */

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ED1C24;
}
input[type=range]::-ms-fill-upper {
    background: #ED1C24;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}